<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.PlayerMapper">

    <insert id="insertPlayer">
        INSERT INTO player(account, passwords, name, sex, profile, city)
        VALUES (#{account},#{passwords},#{name},#{sex},#{profile},#{city})
    </insert>
    <select id="selectAccount" resultType="java.lang.Integer">
        SELECT count(account) FROM player WHERE account=#{account}
    </select>


</mapper>